*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom, rgba(255, 20, 20, 0.5), rgba(0,0,0,0.5)), /* Adjust the gradient colors and direction */
              url('rohit-tandon-9wg5jCEPBsw-unsplash.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.card{
    height: 500px;
    max-width: 600px;
    border-radius: 25px;
    margin: auto;
}

.row-form{
    height: 100%;
    width: 100%;
}
.left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 25px;
    width: 100%;
}
.button{
    background-image:linear-gradient(to bottom, rgba(255, 20, 20, 0.5), rgba(0,0,0,0.5));
    color: white;
    font-size: 15px;
    border:rgba(255, 20, 20, 0.5) ;
    font-weight: 500;
    padding: 10px 40px;
    margin-top: 10px;
    border-radius: 25px;
    
}
.button:hover{
    background-image:linear-gradient(to bottom, rgba(255, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    color:black;
    font-size: 15px;
    border:rgba(255, 20, 20, 0.5) ;
    font-weight: 500;
    padding: 10px 40px;
    margin-top: 10px;
}

.form-control{
    width: 100%;
    
    border-radius:0px;
    border: none;
    border-bottom: 2px solid  rgba(255, 0, 0, 0.5);
}
.form-control:focus{
    outline: none;
    
    box-shadow: none;
}
label{
    color: rgb(132, 132, 132);
}
input{
    width: 500px;
}






@media (max-width:526px) {
    .card{
        height: 500px;
        width: 350px;
        border-radius: 25px;
        margin: auto;
    }
    input{
        width: 250px;
    }
}
@media (max-width:280px) {
    .card{
        height: 500px;
        width: 250px;
        border-radius: 25px;
        margin: auto;
    }
    input{
        width: 200px;
    }
}














